:root {
  --color-one: #ffffff;
  --color-two: #e58411;
  --color-three: red;
  --color-four: 213 214 209;
  --color-fife: 187, 187, 189;
  --color-six: #f7f7f7;
  --color-seven: 50, 50, 48;
  --color-eight: #fafafa;
  --color-nine: #1e1e1e;
  --color-ten: black;
  --color-eleven: #1E2833;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
