.link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    color: #ffffff;
    transition-property: color;
    transition-duration: .3s;
    &:hover {
        color: #E58411;
    }
}